body {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#container {
    height: 560px;
    width: 560px;
    margin-top: 30px;
}

#container div {
    display: flex;
}

button {
    margin-top: 10px;
    height: 30px;
}

